---
layout: page
title: Tommaso Capelli - Curriculum Vitae
pageTitle: Curriculum Vitae
---
<!-- <h2>{{site.data.resume.basics.label}}</h2>
<p>{{site.data.resume.basics.summary}}</p>
<hr />
<dl>
{% for work in site.data.resume.work %}
    <dt>{{work.company}} - {{work.position}}</dt>
    <dd>
        <span>from: {{work.startDate}} to:{{work.endDate}}</span>
        <span><p>{{work.summary}}</p></span>    
    </dd>
{% endfor %}
</dl>
<hr />
<dl>
{% for ed in site.data.resume.education %}
    <dt>{{ed.institution}} - {{ed.studyType}}</dt>
    <dd>
        <span>from: {{ed.startDate}} to:{{ed.endDate}}</span>
        <span><p>{{ed.summary}}</p></span>    
    </dd>
{% endfor %}
</dl> -->

<section>
  <h2>Profilo</h2>
  <p>My passion for the web, which I have always cultivated, has led me to transform an interest into a profession. More recently, I have been fascinated by data and its analysis, and I have combined my inclinations with a commercial approach and a passion for the financial sector.</p>
</section>

<section>
  <h2>Work Experience</h2>
  <div class="work-entry">
    <h3>Data Analytics Consultant | Avanade Inc (Torino/Milano)</h3>
    <ul>
      <li><strong>2021-Present Manager</strong> &mdash; I continued delivery activities on projects in the Business Intelligence field using Power BI and various data platforms in the banking sector. At the same time, I was involved in solutioning and commercial offers (2+mln€ in sales per year) for various clients (30+) of different sectors, positioning myself as an expert in the financial services world. The solutions I created are based on Microsoft technology, both cloud and on-premise, integrating existing applications from other vendors or custom ones. Additionally, I worked on some PoCs that leverage the integration between Microsoft technologies for data and Large Language Models and various activities on Microsoft Fabric.</li>
      <li><strong>2019-2021 Senior Consultant</strong> &mdash; After completing the previous experience, I continued project development activities in the analytics field in one of the largest Italian Banks, managing medium-large teams (5-10 FTE per project). The activities were focused on reporting and allowed me to gain strong experience in Power BI, both in terms of development and solutioning in various areas (complaints, customer satisfaction, controls, policies). At the same time, I officially joined the group that deals with solutioning and developing client offers, training and gaining experience in the field of data platform modernization in the Microsoft environment (solutioning, architecture design, contracting, estimation, and pricing).</li>
      <li><strong>2017-2019 Consultant</strong> &mdash; In addition to continuing the previous experience, I supported our commercial contacts in solutioning and offering activities, collaborated in defining the new reporting architecture (based on SQL Server Analysis Services, Excel, and Power BI), and the PoC for creating a tool (based on SQL Server Analysis Services, SharePoint, Excel) for generating the Recovery Book for one of the largest Italian banks.<br>
      Later, I chose to widen my technical and functional knowledge, remaining in the finance field but moving to the HR industry. Here, I worked with the largest company in the sector, creating a solution within a global team of 50+ people that enabled global master data management, new reporting, accounting, and budgeting capabilities, along with centralized data management and validation.</li>
      <li><strong>2015-2017 Sr. Analyst</strong> &mdash; I supported the reporting office of one of the largest Italian Banks, managing a team of about 5 people. I was responsible for collecting and analyzing requirements according to user requests, extracting and retrieving data from Oracle datamarts with SAS Enterprise Guide, analyzing them, and subsequently creating reports in Excel (standard + PowerPivot) or HTML5 (AngularJS CSS3 and D3). The reporting covered multiple aspects of the Bank: cards, accounts, operations, controls, BT/MLT financing, activities related to TLTRO, structured finance operations.</li>
      <li><strong>2013-2015 Analyst</strong> &mdash; I carried out my first analytics project within one of the largest Italian Banks in a team of 10 people with activities that included: data extraction using SAS Enterprise Guide from various datamarts/ data warehouses of the bank and creating reports in the BT/MLT credit field. At the same time, I supported the group that dealt with the design, modeling, and feeding of the largest data warehouse in the group.<br>
      Later, I oversaw the development of a project for managing public guarantees at one of the largest Italian Banking Groups, creating the portal based on SharePoint (custom web part), analyzing requirements, and the E2E process, as well as creating the reporting.</li>
    </ul>
    <h3>Web Application Developer | TopKey Srl (Torino)</h3>
    <ul>
      <li>2012-2013</li>
    </ul>
    <h3>Freelance Web Developer</h3>
    <ul>
      <li>2007 – 2012</li>
    </ul>
  </div>
</section>

<section>
  <h2>Education & Certifications</h2>
  <ul>
    <li><strong>High School Diploma</strong> | Liceo Scientifico E. Amaldi (Novi Ligure)</li>
  </ul>
  <h3>Certifications</h3>
  <ul>
    <li>Microsoft DP-600 - Fabric Analytics Engineer Associate</li>
    <li>Microsoft 70-480 - Programming in HTML5 with JavaScript and CSS3</li>
    <li>Microsoft 70-778 - Analysing and Visualizing Data with Microsoft Power BI</li>
    <li>Microsoft 70-779 - Analysing and Visualizing Data with Microsoft Excel</li>
    <li>Microsoft MCSA - Business Intelligence Reporting</li>
    <li>Avanade SCRUM - Scrum Project Manager</li>
  </ul>
</section>

<section>
  <h2>IT Skills</h2>
  <ul>
    <li><strong>Programming languages:</strong> T-SQL (5), DAX(5), M(5), SAS(4), Python(3), C#(3), Javascript(3), VBA(4)</li>
    <li><strong>Software & others:</strong> Power BI(5), SAS Enterprise guide(5), Microsoft SQL Server (5), Microsoft SQL Server Analysis Services (5), SAS(4), Microsoft Fabric (4), Suite Office(5), HTML5(3), CSS3(3), NodeJS(2), MongoDB(2), Odata(3), Arduino & IoT (3)</li>
  </ul>
</section>

<section>
  <h2>Languages & Other Information</h2>
  <ul>
    <li>Italian: native</li>
    <li>English: fluent</li>
    <li>French: basic knowledge</li>
  </ul>
  <p>Curious and tireless regarding my interests, over time I’ve founded a regional political party, a cultural association, and an online newspaper. Today, in my free time, I dedicate myself to my passion for landscape photography and technology in all its forms.</p>
</section>
