---
layout: default
---
<div class="big-image-container">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-9">
          <h1>Hello, world!</h1>
          <h2 class="hidden-sm hidden-xs">Benvenuto!</h2>
          <p class="hidden-sm hidden-xs">Spero tu possa trovare informazioni interessanti su questo sito!</p>
          <p class="hidden-sm hidden-xs">Attualmente ho creato {{site.posts.size}} posts e {{site.pages.size}} pagine. Guarda i contenuti:
            <a href="#main-content" class="fa fa-arrow-down"></a>
          </p>
          <h3>Entriamo in contatto:</h3>
          <div class="btn-group" role="group" aria-label="...">
            {% if site.email %}
            <a href="mailto:{{ site.email }}" class="btn btn-default"><span class="fa fa-at fa-2x"></span></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://it.linkedin.com/in/{{ site.linkedin_username }}" class="btn btn-default" target="_blank"><span class="fa fa-linkedin fa-2x"></span></a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" class="btn btn-default" target="_blank"><span class="fa fa-github fa-2x"></span></a>
            {% endif %}
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" class="btn btn-default" target="_blank"><span class="fa fa-twitter fa-2x"></span></a>
            {% endif %}
            {% if site.instagram_username %}
            <a href="https://www.instagram.com/{{ site.instagram_username }}" class="btn btn-default" target="_blank"><span class="fa fa-instagram fa-2x"></span></a>
            {% endif %}
            {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn btn-default" target="_blank"><span class="fa fa-facebook-official fa-2x"></span></a>
            {% endif %}

          </div>

        </div>
        <div class="col-md-3">
          <img src="/img/static/me_photo_doc_resized.jpg" class="img-responsive img-circle"></img>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-circle btn-lg btn-default" id="main-scroll-down-btn" href="#main-content"><i class="fa fa-chevron-down fa-2x"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Main container-->

<div class="home container" id="main-content">
  <hr>
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-heading">Posts</h1>
      
        {% for post in site.posts %}
        <div class="media home-post-list">
          <div class="media-left media-middle">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <img class="media-object hvr-ripple-in" src="{% if post.image %}{{ site.url}}img/post/{{ post.date | date: "%F" }}/{{ post.image }}{% else %}/img/static/home-photo.jpg{% endif %}" alt="{{ post.title }}">
            </a>
          </div>
          <div class="media-body">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h4 class="media-heading">{{ post.title }}</h4></a>
            <span class="post-meta pull-left">{{ post.date | date: "%b %-d, %Y" }}</span><span class="post-meta pull-right">{{post.categories}}</span>
          </div>
        </div>
        {% endfor %}
        
        <div class="text-center add-margin-tb">
          <a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="btn btn-warning"><i class="fa fa-rss"></i>&nbsp;Subscribe RSS</a>
        </div>

    </div>
    <div class="sidebar col-md-4">
      {% include sidebar.html %}
    </div>
    
  </div>
  
  <hr />
</div>
