<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Posts <span class="badge pull-right">{{site.posts.size}}</span></h3>
    </div>
    <div class="list-group">
        {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ post.title }}</h4>
            <p class="list-group-item-text">{{ post.date | date: "%b %-d, %Y" }}</p>
        </a>
        {% endfor %}
    </div>
</div>