
@media screen and (min-width: $screen-md-min) {
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 216px;
    }
    footer.site-footer {
      position: absolute;
      bottom: 0;
      /* Set the fixed height of the footer here */
      height: 216px;
      width:100%;
      padding-top:23px;
      padding-bottom:23px;
    }
}

footer.site-footer {
  background-color: $gray-lighter;
  
  h2{
      margin:0;
  }
}

header nav.navbar{
    margin-bottom:0;
}

.add-margin-tb{
    margin-top:23px;
    margin-bottom:23px;
}

.big-image-container{
    background: url("/img/static/home-photo.jpg") no-repeat top center fixed;
    background-size: cover;
    padding: 5vh 0;
    
    @media screen and (min-width: $screen-sm-min) {
        padding: 10vh 0;
    }
    
    .jumbotron{
        opacity:0;
        
        .row>.col-md-12{
            text-align:center;

            #main-scroll-down-btn{
                position:absolute;
                bottom:-80px;
                transform:translate(-50%,-50%);
                
                @media screen and (min-width: $screen-sm-min) {
                    bottom:-100px;
                }
            }
        } 
        
        div.col-md-9{
            opacity:0;
        }
        div.col-md-3{
            opacity:0;
        }
    }
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 9px 0px;
    border-radius: 25px;
    text-align:center;
}


/*Post*/

article.post{
    @media screen and (min-width: $screen-sm-min) {
       margin-bottom:23px;
    }
}

/* Underline From Left */
p a:not(.btn) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
p a:not(.btn):before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $link-color;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
p a:not(.btn):hover:before, a:not(.btn):focus:before, a:not(.btn):active:before {
  right: 0;
}

p a:not(.btn):hover{
  text-decoration:none;
}