body{
}


.big-image-container{
    background: url("/img/static/home-photo.jpg") no-repeat top center fixed;
    background-size: cover;
    padding: 10vh 0;
    
    .jumbotron{
        opacity:0;
        
        .row>.col-md-12{
            text-align:center;

            #main-scroll-down-btn{
                position:absolute;
                bottom:-70px;
                transform:translate(-50%,-50%);
            }
        }
        
        div.col-md-9{
            opacity:0;
        }
        div.col-md-3{
            opacity:0;
        }
    }
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 9px 0px;
    border-radius: 25px;
    text-align:center;
}