---
layout: default
---
<article  itemscope itemtype="http://schema.org/BlogPosting">
  <div class="article-big-image-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="post-title" itemprop="name headline">
            {{ page.title }}
          </h1>
          <time class="pull-right" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <div class="post-content" itemprop="articleBody">
          {{ content | markdownify }}
        </div>
        
        <hr class="hidden-lg hidden-md"/>
      </div>
    </div>
  </div>
</article>